*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.details__container{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(1, 1, 26), rgb(3, 3, 136));
    font-family: Arial, Helvetica, sans-serif;

}
.info__container{
    width: 40%;
    height: 45vh;
    margin: 0 auto;
    text-align: center; 
}
.info__container > h4{
    color: crimson;
    padding: 25px;
}
.line__color{
    text-align: center;
    padding: 0 10px;
    color: white;
    font-size: 20px;
    font-weight: 900;
}
.info__container > h2{
    color: chartreuse;
    padding: 10px;
}

.info__container > p{
    color: white;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
}

.contact__details-container{
    width: 100%;
    height: 10vh;
    
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.contacts{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.contact__icon{
    color: chartreuse;
}
.contacts > h4{
    color: white;
}
.contacts h4 a{
    color: white;
}


/* MEDIA QUERIES */

@media screen and (max-width:700px) {
.info__container > p{
    font-size: 16px;
}


    .info__container{
        width: 85%;
        margin: 0 auto;
    }
    .contact__details-container{

        margin-top: 10px;
    }
}