*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
.details__container{
    padding: 1rem;
    width: 100vw;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(1, 1, 26), rgb(3, 3, 136));

}
.info__container{
    width: 40%;
    height: max-content;
    margin: 0 auto ;
    padding: 1rem;
    text-align: center; 
}
.info__container > h4{
    color: crimson;
    padding: 25px;
}
.line__color{
    text-align: center;
    padding: 0 10px;
    color: white;
    font-size: 20px;
    font-weight: 900;
}
.info__container > h2{
    color: chartreuse;
    padding: 10px;
}

.info__container > p{
    color: white;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
}

.contact__details-container{
    width: 100%;
    height: max-content;
    
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.contacts{
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.contact__icon{
    color: chartreuse;
}
.contacts > h4{
    color: crimson;
}
.contacts h4 a{
    color: crimson;
}


/* MEDIA QUERIES */

@media screen and (max-width:700px) {

.details__container{
    height: 70vh;
    padding: 10px 0;
}
.info__container{
    width: 94%;
    margin: 0 auto;
}
    .info__container > h2{
        font-size: 17px;
    }
    .info__container > p{
        font-size: 16px;
        margin: 10px;
        text-align: justify;
    }
    
    
    .contact__details-container{
        padding: 10px;
        height: max-content;
    }
}
