.items_container{
    margin: 5px; 
    padding: 5px;
    flex: 1;
    height: 48vh;
    font-family: Arial, Helvetica, sans-serif;
   
}

.items_container-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.comments{

    width: 50%;
    margin: 10px auto 0;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-family: var(--font-family);
    background-color: rgb(226, 28, 68);
}



@media screen and (max-width:600px){
    .items_container{
        width: 100%;
    }
    .comments{
        width: 100%;
        font-size: 12px;
    }
}
@media screen and (max-width:1024px){
    .items_container-image{
        width: 100%;
        height: 40vh;
    }
    .comments{
        width: 100%;
    }
}