.gallery-container{
    width: 100vw;
}


.gallery-heading{
    padding: 1rem;
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
 
}

.gallery-wrapper{
    padding: 1rem;
    margin: 2rem auto;
    width: 70%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
}

@media screen and (max-width:900px) {
    .gallery-container{
        margin: 2rem auto;
    }
    .wrapper{
        width: 94%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
 @media screen and (max-width:1024px) {

    .gallery-wrapper{
        padding: 1rem;
        margin: 1rem auto;
        width: 75%;
    }

}

@media screen and (max-width:500px) {
    .gallery-container{
        width: 100vww;
    }
    .gallery-wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1fr);
    }
} 


