*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

footer{
    color: chartreuse;
    text-align: center;
    height: 20rem;
    padding: 2rem ;
    position: relative;

    background-color: rgb(14, 5, 68);

}


.logo{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    
}

.logo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.logo span{
    font-family: monospace;
}

footer > p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright-icon{
    margin: 5px;
}

.social-media{
    background-color: #ffffff50;
    border-radius: 50px;
    width: max-content;
    padding: 1rem 2.3rem;
    margin: 4rem auto;
    display: flex;

    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

        

    
    /* .........MEDIA QUERIES....... */



@media screen  and (max-width:700px){

    .social-media{
        margin: 3rem auto 4rem;
    }

    footer > p{
        font-size: 15px;
    }
    
}




