*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-family);
}

a{
    text-decoration: none;
}

footer{
    padding: 20px 0;
    position: relative;
    font-family: var(--font-family);
    background: linear-gradient(to bottom, rgb(2, 17, 102), rgb(64, 64, 238));
    height: 80vh;
    width: 100vw;
    text-align: center;
    color: white;
    box-sizing: border-box;

}
.title{
    margin: 10px;
    width: 100%;
    text-align: center;
    
}

.footer-wrapper{
    width: 70%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

form{
    padding: 20px 5px;
    height: 90%;
    border-radius: 10px;
    
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}
form > label{

    padding: 10px;
    
}
form > input{
    padding: 0 15px;
    border: 0;
    outline: 0;
    width: 60%;
    height: 50px;
    margin: 0 auto;
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 2px cadetblue;

    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out ;
    transition: 0.4s ease-in-out;

}
form >input:hover, textarea:hover{
    background-color: transparent;
    box-shadow: 2px 2px 5px chartreuse;

}
form input:hover::placeholder, textarea:hover::placeholder{
    color: white;
}
form input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder{
    color: white;
}

form >textarea{
    padding: 15px;
    border: 0;
    outline: 0;
    width: 60%;
    margin: 0 auto;
    border-radius: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 2px cadetblue;

    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;


}

.btn{
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    border: 0;
    outline: 0;
    width: max-content;
    height: 40px;
    padding: 10px 15px;
    margin-top: 23px;
    border-radius: 5px;
    color: white;
    background-color: black;

    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;

}
.btn:hover{
    border: 3px  rgb(6, 158, 179) solid;
    outline: 0;
    background-color: transparent;
}
.contact-details{
    margin-left: 70px;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.contact-detail{
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
    
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;


}
.contact-detail:hover{
    color: rgb(243, 7, 85);
    font-size: 17px;
}
.contact-detail a{
    color: white;
}
.contact-icon{
    margin-right: 5px;
}
      
    
.copyright{
    position: absolute;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
    font-size: 13px;
    font-family: var(--font-family);
    background-color: black;
}
    
    /* .........MEDIA QUERIES....... */
    

@media  screen and (max-width:600px) {
    footer{
        height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    form{
        width: 100%;
        height: 70%;
        background-color: unset;

    }

    form input{
        width: 85%;
        height: 60px;
    }
    form textarea{
        width: 85%;
    }

    .contact-details{
        height: 30%;
        width: 50%;
        margin: 0 auto;
        margin: 5px auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
       
    }
   
}







