.prices-container{
    padding: 3rem 0;
    background-color: rgb(6, 6, 114);
    height: max-content;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.prices-container h3{
    padding: 50px 0 30px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.price-wrapper{
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.price-info{
    padding: 10px;
    width: 220px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price-info h5{
    width: 100%;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(20, 18, 18);
}
.price-info p{
    padding: 10px 5px;
    font-size: 19px;
    font-family: monospace;
    display: flex;
    align-content: center;
    justify-content: center;
}
.price-icons{
    margin-right: 10px;
}
 .price{
    color: chartreuse;
    font-size: 20px;
    padding: 5px;
}

.customer_care{
    margin: 10px;
    padding: 10px;

}
.customer_care-link{
    color: chartreuse;
    font-size: 17px;
    font-weight: 500;
}

@media screen and (max-width:700px){
   
.prices-container h3{
    font-size: 16px;
}
    .price{
        font-size: 15px;
    }
    .price-wrapper{
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .price-info{
        padding: 5px;
        width: 70%;
        height: 100px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
