 .notification{
     width: 100vw;
    padding: 0.65rem;
    text-align: center;
    color: rgb(6, 202, 236);
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    

}
.notification > h4{
    font-weight: 900;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.discount{
    font-size: 20px;
    color: red ;
}
@media screen and (max-width:700px) {
    .notification__wrapper{
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .notification__wrapper > h4{
        font-size: 14px;
    }
      .discount{
        font-size: 15px;
    }
}

@media screen and (max-width:500px) {
    .notification__wrapper > h4{
        font-size: 12px;
    }
    .discount{
        font-size: 13px;
    }

}
