.sponsors_container{
    width: 100vw;
    min-height: 20rem;
    box-sizing: border-box;
    text-align: center;
    font-family: var(--font-family);
    text-align: center;

}

.sponsors_container > h1{
    font-size: 25px;
    font-weight: bold;
    margin: 1rem;


}

.sponsors_wrapper{
    padding: 2rem ;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;

}

 .image_container {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 300px;
    height: 300px;
   margin-bottom: 1rem;
}

.image_container > img{
   width: 100%;
   height: 100%;
    object-fit: contain;
}

.chawami{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);


    background: linear-gradient(to bottom,rgb(233, 78, 7), rgb(56, 3, 139));
    
    width: 190px;
    height: 140px;
    border-radius: 10px;
    
}

.chawami > h1{
    padding-bottom: 5px;
    font-weight: 900;
    color: white;

}
.chawami > p{
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (max-width:1024px) {

    .sponsors_container{
        min-height: 33rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
   .sponsors_wrapper{
       display: flex;
       flex-direction: column;
   }
.chawami{
 width: 150px;
 height: 130px;
}
.chawami > h1{
 padding-bottom: 5px;
 font-weight: 500;
 color: white;
 font-size: 17px;

}

}
@media screen and (max-width:700px) {
    .sponsors_container{
        min-height: 33rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
   .sponsors_wrapper{
       display: flex;
       flex-direction: column;
   }
   .image_container{
       width: 200px;
       height: 220px;
   }

   .chawami{
    width: 150px;
    height: 130px;
   }
   .chawami > h1{
    padding-bottom: 5px;
    font-weight: 500;
    color: white;
    font-size: 17px;

}
}

